[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "docker compose up --build"
test = "pytest"
lint = "flake8"
format = "black ."
typecheck = "mypy ."
make_migration = "alembic revision --autogenerate -m"
migrate = "alembic upgrade head"

[packages]
fastapi = "~=0.109.2"
uvicorn = "~=0.27.1"
httpx = "~=0.26.0"
bcrypt = "~=4.1.2"
sqlalchemy = "~=2.0.27"
psycopg2-binary = "~=2.9.9"
pyjwt = "~=2.8.0"
alembic = "~=1.13.1"
dependency-injector = "~=4.41.0"
pydantic = "~=2.6.1"
pydantic-settings = "~=2.2.0"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.11"
